[submodule "Resources/QilingRootFsTemplates/Resources/QilingRootFsTemplate"]
	path = Resources/QilingRootFsTemplates/Resources/QilingRootFsTemplate
	url = https://github.com/qilingframework/rootfs.git
[submodule "Resources/QilingRootFsTemplates"]
	path = Resources/QilingRootFsTemplates
	url = https://github.com/qilingframework/rootfs.git
[submodule "CyberChefMCP"]
	path = CyberChefMCP
	url = https://github.com/slouchd/cyberchef-api-mcp-server.git
[submodule "CyberChefServer"]
	path = CyberChefServer
	url = https://github.com/gchq/CyberChef-server.git
